{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Points of INTEREST</h1>
    {% for poi in pois %}
        <h2>{{ poi.name }}</h2>
        <p>Relative skill: {{ poi.relative_skill }}</p>
        <p>Priority: {{ poi.priority }}</p>
        <p>Category: {{ poi.category }}</p>
        {% if poi.progress != 100 %}
            <p>In progress: {{ poi.progress }}%</p>
        {% else %}
            <p>Complete</p>
        {% endif %}
    {% endfor %}
</body>
</html>