{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <img src = "{% static 'img/avatar.png' %}" alt="Avatar">
        <h1>Points of INTEREST</h1>
    </header>
    <div class="table">
    {% for poi in pois %}
        <div class="task_name">
            <h2>{{ poi.name }}</h2>
        </div>
        <div class="img">
            <img src="{{ poi.img_url}}" height="150">
        </div>
        <div class="desc">
            <table>
                <tr>
                    <th>
                        Relative skill:
                    </th>
                    <td>
                        <p>{{ poi.relative_skill }}</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        Priority:
                    </th>
                    <td>
                        <p> {{ poi.priority }}</p>
                    </td>
                </tr>
                 <tr>
                    <th>
                        Category:
                    </th>
                    <td>
                         <p>{{ poi.category }}</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        In progress:
                    </th>
                    <td>
                        {% if poi.progress != 100 %}
                            <p>{{ poi.progress }}%</p>
                        {% else %}
                            <p>Complete</p>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>
</body>
</html>